[Unit]
Description=QueueTableSIP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=${PROJECTS_DIR}/ami
ExecStart=${NODE_BIN} ${PROJECTS_DIR}/ami/QueueUsers.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sipqueue-populate
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
